body{
    height: auto;
}
.containers{
    width: 100%;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    display: flex;
    justify-content: center;
}
.colorme{
    border-radius: 2rem;
    width: 60%;
    height: 39rem;
    margin: 5rem;
    background-color: azure;
}
.appCard{
    height: 60%;
    overflow: scroll;
}
.heading {
    text-align: center;
    color: #2c3e50;
    font-family: cursive;
    text-shadow: 2px 2px 4px gray;
    margin-top: 1rem;
}





